.flex{
    display: flex;
    &-jc-sb {
        justify-content: space-between;
    }
    &-jc-c {
        justify-content: center;
    }
    &-ai-c {
        align-items:center;
    }
}

.border{
    border:1px solid red;
}

//Visibility 
.hide-for-mobile {
//hide for tablet and mobile
    @include breakpoint-down(medium){
        display: none!important;
    }
}
.hide-for-desktop{
// hide for dekstop
    @include breakpoint-up(large){
        display: none!important;  
    }
}

// spacing  
.container {
    max-width: 69.375rem;
    margin: 0 auto;
    &--pt{
        padding-top:1.5rem;
    }
    &--pr{
        padding-right: 2rem;
    }
    &--pl{
        padding-left: 2rem;
    }
    &--pb{
        padding-bottom: 1.5rem;
    }
    &--py{
        padding: 1.5rem 0;
    }  
    &--px{
        padding:0 2rem;
    }
    &--pall{
        padding: 1.5rem 2rem;
    }
}


