// Breakpoints

// 640px, 1024px, 1400px
$breakpoints-up:("medium":"40rem","large":"64rem","xlarge":"87.5rrem");
// 640px, 1023px, 1399px
$breakpoints-down:("small":"39.9375rem","medium":"63.9375rem","large":"87.4374rem");

@mixin breakpoint-up($size) {
    @media (min-width: map-get($breakpoints-up,$size)) {
        @content;
    }
}
@mixin breakpoint-down($size) {
    @media (max-width: map-get($breakpoints-down,$size)) {
        @content;
    }
}