.features{
    text-align: center;
    margin-top:9.5rem;
    margin-bottom:9.5rem;
    background-color: $neutral-very-light-gray;
    @include breakpoint-up(large){
            text-align: left;
            margin-bottom:11rem ;
        }
    &__header{
        h2{
            color:$primary-dark-blue;
            font-size: $font-lg;
            font-weight: 300;
        }
        p{
            font-size: $font-sm;
        }
    }
    &__grid{
        @include breakpoint-up(medium){
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        
        .features__item{
        @include breakpoint-up(medium){
        width: 48%;
        }
        @include breakpoint-up(large){
            flex: 1;
            width: auto;
        }
        img{
            text-align: left;
        }
        h3{
            margin:1.5rem 0;
            font-size: $font-med;
            color:$primary-dark-blue;
            font-weight: 300;
        }
        p{  
            margin: auto;
            max-width:20rem;
            font-size: $font-sm;
        }
    }
    .features__item:not(:last-child){
    @include breakpoint-up(large){
        padding-right: 2rem;
    }
    margin-bottom: 2rem;
    }
}
}
