.menu__modal{
    opacity: 0;
    transition: all ease-in-out 150ms;  
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    visibility: hidden;
}

.menu__modal.open{
    width: 100%;
    height: 100vh;
    position: fixed;
    background:linear-gradient(180deg,$primary-dark-blue,transparent);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    opacity: 1;
    z-index: 2;
    visibility: visible;
    & .menu__modal--content{
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 266px;
        background-color: white;
        
        & > a{
            font-size: $font-med;
            color:$primary-dark-blue;
            transition: color ease-in-out 150ms;
        }
        & > a:not(:last-child){
                margin-bottom: 1.5rem;
        }
        & > a:hover{
            color: $primary-lim-green;
        }
    }
}

.menu__modal--content{
    display: none;
}
